
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>sale_order</title>
    <link href="/Content/public/css/bootstrap.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/Content/public/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/Content/public/css/custom-styles.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/Content/public/css/shop_management.css" />
    <link href="~/Content/ElementUI/element-ui.css" rel="stylesheet" />
    <style>
        .table1 tr .td1,.td2{
            width:150px;
        }
        .table1 tr .td1 {
            color: rgb(53,124,183);
            font-weight: bold;
        }
        .table2 tr .td1 {
            width: 120px;
            color: rgb(53,124,183);
            font-weight:bold;
            padding:10px 0px 10px 10px;
        }
        .table2 tr .td2{
            min-width:250px;
        }
        /*商品展示*/
        .el-carousel__item h3 {
            color: #475669;
            font-size: 14px;
            opacity: 0.75;
            line-height: 200px;
            margin: 0;
        }

        .el-carousel__item:nth-child(2n) {
            background-color:rgb(158 195 225)
        }

        .el-carousel__item:nth-child(2n+1) {
            background-color: rgb(198 226 248)
        }
    </style>
</head>
<body style="background-color: rgb(239,240,244)">
    <div>
        <div style="display: flex; padding: 10px; justify-content: space-between;
      box-shadow: 1px 1px 5px 1px rgb(105,186,157); background-color: white; margin-bottom: 10px; ">
            <div style="display: flex;">
                <p style="font-size: 25px;">销售管理 &nbsp;/ &nbsp;</p>
                <p style="font-size: 18px;">销售订单管理</p>
            </div>
        </div>
        <ol class="breadcrumb" style="box-shadow: 1px 1px 5px 1px rgb(105,186,157);">
            <li>客户订单管理</li>
        </ol>
    </div>
    <!--商品管理-->
    <div style="height: 600px; background-color: white;"
         v-loading.fullscreen.lock="fullscreenLoading">
        @*查询*@
        <div style="width: 100%; border-bottom: 2px solid rgb(53,124,183);margin-bottom:10px;">
            <div style="width: 620px; display: flex; padding: 20px; margin: 0 auto;" id="app">
                <div style="font-size: 18px; height: 40px; line-height: 40px; ">
                    请输入查询订单号：
                </div>
                <div style="height:40px;line-height:40px;">
                    <el-select style="width:300px;" v-model="orderid" placeholder="请选择"
                               filterable allow-create default-first-option>
                        <el-option v-for="item in options" :value="item">
                        </el-option>
                    </el-select>
                </div>
                <div style="height: 40px; line-height: 40px;margin-left:20px;">
                    <el-button type="primary" icon="el-icon-search" style="background-color: rgb(53,124,183);
                  " onclick="chaxun()">查询</el-button>
                </div>
            </div>
        </div>
        @*展示数据*@
        <div id="bottom" style="width:100%;height:458px;">
            <div v-if="visible" style="text-align:center;height:100%;border:1px solid red;">
                <el-empty :image-size="200"></el-empty>
            </div>
            <div v-if="!visible" style="width:100%;height:100%;">
                <div style="width: 100%;padding:10px;
                      font-size:16px;">   @*展示订单信息*@
                    <table style="width:100%;" class="table1">
                        <tr>
                            <td class="td1">订单编号：</td>
                            <td><label style="font-weight:bold;">{{orderid}}</label></td>
                            <td><label style="font-weight:bold;">总金额：{{zong}}</label></td>
                            <td class="td2"><label style="font-weight:bold;">{{time}}</label></td>
                        </tr>
                        <tr>
                            <td class="td1"></td>
                            <td colspan="3">
                                <div style="width: 100%; margin: 0 auto; border-radius: 8px; 
                                   background-color: rgb(239 248 255)">
                                    <table class="table2" style="width:100%;">
                                        <tr>
                                            <td class="td1">客户名称：</td>
                                            <td><label>{{customer_name}}</label></td>
                                            <td class="td1">客户联系人：</td>
                                            <td class="td2"><label>{{customer_lianxi}}</label></td>
                                            <td class="td1">联系人电话：</td>
                                            <td><label>{{customer_phone}}</label></td>
                                        </tr>
                                        <tr>
                                            <td class="td1">邮政编码：</td>
                                            <td><label>{{customer_email}}</label></td>
                                            <td class="td1">经手人：</td>
                                            <td><label>{{customer_handleperson}}</label></td>
                                            <td class="td1">客户地址：</td>
                                            <td><label>{{customer_address}}</label></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="width: 100%;">
                    <div style="font-size: 18px; height: 40px; line-height: 40px;
                 background-color: rgb(53,124,183);color:white;padding-left:10px;">
                        展示商品信息
                    </div>
                    @*展示商品信息*@
                    <div style="width: 80%;margin:0 auto;padding-top:20px;">
                        <template>
                            <el-carousel :interval="10000" type="card" height="270px">
                                <el-carousel-item v-for="item in tabledata" style="padding:20px;font-weight:bold;">
                                    <div style="border-bottom:1px solid white;width:100%;height:45px;line-height:45px;">
                                        <span style="color: rgb(53,124,183);">产品名：</span>
                                        <span>{{item.pro_name}}</span>
                                    </div>
                                    <div style="border-bottom: 1px solid white; width: 100%; height: 45px; line-height: 45px;">
                                        <span style="color: rgb(53,124,183);">订购数量：</span>
                                        <span>{{item.pro_num}}</span>
                                    </div>
                                    <div style="border-bottom: 1px solid white; width: 100%; height: 45px; line-height: 45px;">
                                        <span style="color: rgb(53,124,183);">产品单价：</span>
                                        <span>{{item.pro_price}}元</span>
                                    </div>
                                    <div style="border-bottom: 1px solid white; width: 100%; height: 45px; line-height: 45px;">
                                        <span style="color: rgb(53,124,183);">产品规格：</span>
                                        <span>{{item.pro_guige}}</span>
                                    </div>
                                    <div style="border-bottom: 1px solid white; width: 100%; height: 45px; line-height: 45px;">
                                        <span style="color: rgb(53,124,183);">总金额：</span>
                                        <span>{{item.pro_zong}}</span>
                                    </div>
                                </el-carousel-item>
                            </el-carousel>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <!-- import Vue before Element -->
    <script src="~/Scripts/vue.js"></script>
    <!-- import JavaScript -->
    <script src="~/Scripts/ElementUI/element-ui.js"></script>
    <script>
        //加载一秒后加载状态消失
        setTimeout(() => {
            vm1.fullscreenLoading = false;
        }, 500);
        //App
        var vm1 = new Vue({
            el: '#app',
            data: function () {
                return {
                    fullscreenLoading: true,
                    orderid: "",
                    options: []
                }
            }
        });
        //bottom
        var vm2 = new Vue({
            el: '#bottom',
            data: function () {
                return {
                    visible: false,
                    orderid: "",
                    zong:"",
                    time:"",
                    customer_name: "",
                    customer_lianxi: "",
                    customer_phone: "",
                    customer_email: "",
                    customer_handleperson: "",
                    customer_address: "",
                    tabledata: [{
                        pro_name: "",
                        pro_num: "",
                        pro_price: "",
                        pro_guige: "",
                        pro_zong: "",
                    }],
                    info: {
                        pro_name: "",
                        pro_num: "",
                        pro_price: "",
                        pro_guige: "",
                        pro_zong: "",
                    }
                }
            }
        });
        //查询所有销售订单号
        $.ajax({
            type: "Get",
            url: "https://localhost:44360/api/product/weichuli_order?status=2",
            dataType: "json",
            success: function (data) {
                var info = eval(data);
                for (var i = 0; i < eval(data).length; i++) {
                    vm1.options.push(info[i].order_id);
                }
            }
        })
        //查询
        function chaxun() {
            vm2.tabledata = [{
                pro_name: "",
                pro_num: "",
                pro_price: "",
                pro_guige: "",
                pro_zong: "",
            }];
            vm2.info = {
                pro_name: "",
                pro_num: "",
                pro_price: "",
                pro_guige: "",
                pro_zong: "",
            };
            //条件渲染一下
            vm1.fullscreenLoading = true;
            setTimeout(() => {
                vm1.fullscreenLoading = false;
            }, 500);
            //查询真数据
            $.ajax({
                type: "Get",
                url: "https://localhost:44360/api/sale/sale_order?id=" + vm1.orderid,
                dataType: "json",
                success: function (data) {
                    var info = eval(data);
                    //加载第一条
                    vm2.tabledata[0].pro_name = info[0].product_name;
                    vm2.tabledata[0].pro_num = info[0].quantity;
                    vm2.tabledata[0].pro_price = info[0].product_price;
                    vm2.tabledata[0].pro_guige = info[0].pro_guige;
                    vm2.tabledata[0].pro_zong = "￥ " + info[0].product_price * info[0].quantity + " 元";
                    //加载订单信息
                    vm2.orderid = info[0].orderr_id;
                    vm2.time = info[0].orderr_id;
                    vm2.customer_name = info[0].customer_name;
                    vm2.customer_lianxi = info[0].customer_linkman;
                    vm2.customer_phone = info[0].customer_phone;
                    vm2.customer_email = info[0].customer_postcode;
                    vm2.customer_handleperson = info[0].person_handling;
                    vm2.customer_address = info[0].customer_address;
                    //加载剩下的几条
                    var zongjia = info[0].product_price * info[0].quantity;
                    for (var i = 1; i < eval(data).length; i++) {
                        vm2.info.pro_name = info[i].product_name;
                        vm2.info.pro_num = info[i].quantity;
                        vm2.info.pro_price = info[i].product_price;
                        vm2.info.pro_guige = info[i].pro_guige;
                        vm2.info.pro_zong = "￥ "+info[i].product_price * info[i].quantity+" 元";
                        zongjia += info[i].product_price * info[i].quantity;
                        vm2.tabledata.push(vm2.info);
                        vm2.info = {
                            pro_name: "",
                            pro_num: "",
                            pro_price: "",
                            pro_guige: "",
                            pro_zong: ""
                        };
                    }
                    vm2.zong = "￥ "+zongjia+" 元";
                }
            })
        }
    </script>
</body>
</html>
