@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>登录</title>
    <link rel="stylesheet" type="text/css" href="/Content/login/css/index.css" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        ////调用接口实现登录操作
        //function btn() {
        //    $.ajax({
        //        type: 'Get',
        //        url: '/shoe_api/Values',
        //        success: function () {

        //        }
        //    })
        //}
    </script>
</head>
<body style="background:#fff">
    <div class="nav_top">
        <div class="nav_tcon">
            <div class="logoimg"><img src="/Content/login/images/logo.png" /></div>
            <div class="logotitle">
                <span>鞋业生产</span>
                <p>Shoe Product</p>
            </div>
            <div class="logoname">账号登录</div>
        </div>
    </div>
    <div class="logo_content">
        <div class="logo_ccon">
            <img class="logobei" src="/Content/login/images/logobei.png" />
            <div class="logo_enter">
                <span style="border-bottom:solid 1px #cfcfcf">请使用管理员账号进行登陆</span>
                <span>登录名：</span>
                <input class="use_name" type="text" placeholder="11位手机号码" />
                <span>登录密码：<a href="index.html">忘记登录密码？</a></span>
                <input class="use_password" type="password" placeholder="登录密码" />
                <button type="button" onclick="btn()">登&nbsp;&nbsp;录</button>
            </div>
        </div>
    </div>
</body>
</html>


