
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>智联鞋业后台登录系统</title>
    <link href="~/Content/login/css/style.css" rel="stylesheet" />
</head>
<body>
    <h1>智联鞋业后台登录系统</h1>
    <div class="container w3">
        <h2>现在登录</h2>
        <form action="#" method="post">
            <div class="username">
                <span class="username" style="height:19px">用户:</span>
                <input type="text" name="name" class="name" placeholder="" required=required />
                <div class="clear"></div>
            </div>
            <div class="password-agileits">
                <span class="username" style="height:19px">密码:</span>
                <input type="password" name="password" class="password" placeholder="" required=required />
                <div class="clear"></div>
            </div>
            <div class="rem-for-agile">
                <input type="checkbox" name="remember" class="remember" />记得我
                <br />
                @*<a href="#">忘记了密码</a><br />*@
            </div>
            <div class="login-w3">
                <input type="submit" class="login" value="登录" />
            </div>
            <div class="clear"></div>
        </form>
    </div>
    <div class="footer-w3l">
        <p> 智联鞋业后台登录系统</p>
    </div>
</body>

</html>
