
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>智联鞋业后台登录系统</title>
    <link href="~/Content/login/css/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        $(function () {
            $.ajax({
                url: '',
                data: '',
                success: function (data) {
                
                }
            })
        })
    </script>
</head>
<body>
    <script>
        
    </script>
    <h1>智联鞋业后台登录系统</h1>
    <div class="container w3">
        <h2>现在登录</h2>
        <div class="divss">
            <div class="username">
                <span class="username" style="height:19px">用户:</span>
                <input type="text" id="adminName" class="name" placeholder="" required=required />
                <div class="clear"></div>
            </div>
            <div class="password-agileits">
                <span class="username" style="height:19px">密码:</span>
                <input type="password" id="adminPwd" class="password" placeholder="" required=required />
                <div class="clear"></div>
            </div>
            <div class="rem-for-agile">
                <input type="checkbox" name="remember" class="remember" />记得我
                <br />
                @*<a href="#">忘记了密码</a><br />*@
            </div>
            <div class="login-w3">
                <input type="submit" class="login" onclick="Loging()" value="登录" />
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="footer-w3l">
        <p> 智联鞋业后台登录系统</p>
    </div>
    <script>
        function Loging() {
            var xlh = JSON.stringify({ name: $("#adminName").val(), pwd: $("#adminPwd").val() });
            $.ajax({
                type: "POST",
                url: "https://localhost:44360/api/Login/LoginUp",
                //contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                //contentType: 'application/x-www-form-urlencoded',
                //data: { adminName: $("#adminName").val(), adminPwd: $("#adminPwd").val() },
                data: xlh,
                contentType: "application/json",
                //dataType: "json",
                success: function (data) {
                    console.log(data);
                },
                error: function (e) {
                    console.log(e);
                }  
            });
        }
    </script>
</body>

</html>
