*{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

.shop_management {
	width: 100%;
	min-height: 550px;
	background-color: white;
}
.shop_management_max {
	width: 100%;
	min-height: 100%;
	background-color: white;
}
.chaxun_shop_text{
	width:200px;
    height:35px;
    outline: none;
    border-radius: 3px; 
}
.chaxun_shop_text:focus{
	box-shadow: 0px 0px 10px 3px darkgray;
}
.chaxun_shop_button{
	width:80px;
	height:30px;
}

