
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add_customerInfo</title>
    <link href="~/Content/ElementUI/element-ui.css" rel="stylesheet" />
</head>
<body>
    <div style="margin:0 auto;border-bottom:1px solid rgb(231 231 231);">
        <p style="margin-left:20px"><strong>客户资料</strong></p>
    </div>
    <div id="app"  v-loading.fullscreen.lock="fullscreenLoading">
        <div class="center" style="margin:0px auto; border-bottom:1px solid rgb(231 231 231);padding:10px;">
            <table cellpadding="20" cellspacing="10" style="margin-left:60px">
                <tr>
                    <td>客户名称：</td>
                    <td class="lefttd">
                        <el-input placeholder="请输入内容" v-model="name"></el-input>
                    </td>
                    <td>客户电话号码：</td>
                    <td>
                        <el-input placeholder="请输入内容" v-model="photo"></el-input>
                    </td>
                    <td>联系人：</td>
                    <td class="lefttd">
                        <el-input placeholder="请输入内容" v-model="lianxiren"></el-input>
                    </td>
                </tr>
                <tr>
                    <td>电子邮箱：</td>
                    <td class="lefttd">
                        <el-input placeholder="请输入内容" v-model="emarl"></el-input>
                    </td>
                    <td>开户银行：</td>
                    <td>
                        <el-input placeholder="请输入内容" v-model="yinhang"></el-input>
                    </td>
                    <td>客户地址：</td>
                    <td class="lefttd">
                        <el-input placeholder="请输入内容" v-model="address"></el-input>
                    </td>
                </tr>
                <tr>
                    <td>客户传真：</td>
                    <td>
                        <el-input placeholder="请输入内容" v-model="chuanzhen"></el-input>
                    </td>
                    <td>银行账号：</td>
                    <td>
                        <el-input placeholder="请输入内容" v-model="zhanghu"></el-input>
                    </td>
                    <td>邮政编码：</td>
                    <td>
                        <el-input placeholder="请输入内容" v-model="bianma"></el-input>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="text-align:center;">
                        <el-button type="primary" style="background-color: rgb(217,84,80);" onclick="esc()">取消</el-button>
                    </td>
                    <td colspan="2">
                        <el-button type="danger" style="background-color: rgb(52,123,183);" onclick="addinfo()">提交</el-button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Page-Level Scripts -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/ElementUI/element-ui.js"></script>
    <script>
        //挂载一下
        var vm = new Vue({
            el: "#app",
            data: function () {
                return {
                    name: "",
                    photo: "",
                    lianxiren: "",
                    emarl: "",
                    yinhang: "",
                    address: "",
                    chuanzhen: "",
                    zhanghu: "",
                    bianma: "",
                    fullscreenLoading: false
                }
            }
        })
        //取消按钮
        function esc(){
            location.href = "select_customerInfo";
        }
        //新增用户信息
        function addinfo() {
            if (vm.name == "" || vm.photo== "" || vm.lianxiren == "" || vm.emarl == "" || vm.yinhang == "" || vm.address == "" || vm.chuanzhen == "" || vm.zhanghu == "" || vm.bianma == "") {
                const h = vm.$createElement;
                vm.$notify({
                    title: '新增用户',
                    message: h('i', { style: 'color: red' }, '新增用户信息失败，请填写完整')
                });
            } else {
                vm.fullscreenLoading = true;
                //转为JSON字符串
                var json1 = {
                    "customer_name": vm.name,
                    "customer_phone": vm.photo,
                    "customer_linkman": vm.lianxiren,
                    "customer_email": vm.emarl,
                    "customer_address": vm.address,
                    "customer_fax": vm.chuanzhen,
                    "customer_postcode": vm.bianma,
                    "bank": vm.yinhang,
                    "bank_account": vm.zhanghu
                };
                var json2 = JSON.stringify(json1);
                //新增数据
                $.ajax({
                    url: "https://localhost:44360/api/customer/addcustomer?json=" + json2,
                    type: "post",
                    dataType: "json",
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        console.log("进来了");
                    }
                })
                //效果展示
                setTimeout(() => {
                    vm.fullscreenLoading = false;
                    const h = vm.$createElement;
                    vm.$notify({
                        title: '新增用户',
                        message: h('i', { style: 'color: teal' }, '新增用户信息成功')
                    });
                    setTimeout(() => {
                        //跳转到计划查询页面
                        window.location.href = "@Url.Content("~/customer/select_customerInfo/")";
                    }, 1000);
                }, 1000);
            }
        }
    </script>
</body>
</html>
