
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add_customerInfo</title>
</head>
<body>
    <div> 
        新增客户信息界面
    </div>
</body>
</html>
