
@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chinaz</title>
    <!-- Bootstrap Styles-->
    <link href="/Content/public/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/Content/public/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/Content/public/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/Content/public/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.useso.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/Content/public/js/Lightweight-Chart/cssCharts.css">
    <link rel="stylesheet" type="text/css" href="/Content/public/css/shop_management.css" />
</head>
<body style="background-color: rgb(239,240,244)">
    <div class="header" style="background-color: white; margin-bottom: 10px; ">
        <div style="display:flex;padding:10px;justify-content:space-between">
            <div style="display: flex;">
                <p style="font-size: 25px;">客户管理 &nbsp;/ &nbsp;</p>
                <p style="font-size: 18px;">客户订单跟踪</p>
            </div>
        </div>
    </div>
    <div>
        <ol class="breadcrumb" style="box-shadow: 1px 1px 5px 1px rgb(105,186,157); ">
            <li><a style="color:gray" href="/product/select_product_product" target="infram">客户订单跟踪</li>
        </ol>
    </div>
    <!--商品管理-->
    <!--统计-->
    <div style="height:600px;background-color:white;">
        
    </div>
    <script src="/Content/public/js/jquery-1.10.2.js"></script>
    <script src="/Content/public/js/bootstrap.min.js"></script>
    <script src="/Content/public/js/jquery.metisMenu.js"></script>
    <script src="/Content/public/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/Content/public/js/morris/morris.js"></script>
    <script src="/Content/public/js/easypiechart.js"></script>
    <script src="/Content/public/js/easypiechart-data.js"></script>
    <script src="/Content/public/js/Lightweight-Chart/jquery.chart.js"></script>
    <script src="/Content/public/js/custom-scripts.js"></script>
    <script src="~/Scripts/echarts.js"></script>
    <script>
        var myChart = echarts.init(document.getElementById('app'));
        var option = {
            xAxis: {
                type: 'category',
                data: ['张三', '李四', '余欢', '郭银辉', '覃佐继', '王五', '赵六','熊大','熊二','光头强']
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [150, 230, 224, 218, 135, 147, 260,230,223,50,120],
                type: 'line'
            }]
        };
        myChart.setOption(option);
    </script>
</body>
</html>

