
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="/Content/select/css/selectshop.css" rel="stylesheet" />
    <link href="/Content/select/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="/Content/select/css/bootstrap.css" rel="stylesheet" />
    <link href="/Content/select/css/bootstrap.min.css?v=3.3.6" rel="stylesheet" />
    <link href="/Content/select/css/font-awesome.css?v=4.4.0" rel="stylesheet" />
    <!-- Data Tables -->
    <link href="/Content/select/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="/Content/select/css/animate.css" rel="stylesheet" />
    <link href="/Content/select/css/style.css?v=4.1.0" rel="stylesheet" />
    <script src="/Content/select/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="selectshop">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th scope="col">客户ID</th>
                                        <th scope="col">用户名称</th>
                                        <th scope="col">用户电话号码</th>
                                        <th scope="col">联系人</th>
                                        <th scope="col">用户邮箱</th>
                                        <th scope="col">客户地址</th>
                                        <th scope="col">客户传真</th>
                                        <th scope="col">邮政编码</th>
                                        <th scope="col">开户银行</th>
                                        <th scope="col">银行账户</th>
                                    </tr>
                                </thead>
                                @*<tbody>
                                    <asp:Repeater ID="shoprepeater" runat="server">
                                        <ItemTemplate>
                                            <tr v-for="item in info" :key="item.customer_id">
                                                <td class="table_td" id="shopid">{{item.customer_id}}</td>
                                                <td class="table_td" style="width:300px;" id="shopname">{{item.customer_name}}</td>
                                                <td class="table_td" id="shoptype">{{item.customer_phone}}</td>
                                                <td class="table_td" id="shopprice">{{item.customer_linkman}}</td>
                                                <td class="table_td" id="shopnum">{{item.customer_email}}</td>
                                                <td class="table_td" id="shopsalesnum">{{item.customer_address}}</td>
                                                <td class="table_td" id="shopram">{{item.customer_fax}}</td>
                                                <td class="table_td" id="shoprom">{{item.customer_postcode}}</td>
                                                <td class="table_td" id="shopcpu">{{item.bank}}</td>
                                                <td class="table_td" id="shopcpu">{{item.bank_account}}</td>
                                            </tr>
                                        </ItemTemplate>
                                    </asp:Repeater>
                                </tbody>*@
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 全局js -->
    <script src="/Content/select/js/jquery.min.js?v=2.1.4"></script>
    <script src="/Content/select/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/Content/select/js/plugins/jeditable/jquery.jeditable.js"></script>
    <!-- Data Tables -->
    <script src="/Content/select/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/Content/select/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <!-- 自定义js -->
    <script src="/Content/select/js/content.js?v=1.0.0"></script>
    <!-- Page-Level Scripts -->
    @*<script src="~/Scripts/vue.min.js"></script>*@
    <script>
        //$.ajax({
        //    Type: "get",
        //    url: "https://localhost:44360/api/customer/cut",
        //    dataType: "json",
        //    success: function (data) {
        //        var vm = new Vue({
        //            el: "#selectshop",
        //            data: {
        //                info: eval(data)
        //            }
        //        });
        //    }
        //});
        $(document).ready(function () {
            //$('.dataTables-example').dataTable();
            $('.dataTables-example').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    type: "POST",
                    url: "https://localhost:44360/api/customer/Cut",
                    "dataType": "json",
                    //"dataSrc": "data"                    
                },
                //columns是绑定表格数据源
                columns: [
                    { data: "customer_id" },
                    { data: "customer_name" },
                    { data: "customer_phone" },
                    { data: "customer_linkman" },
                    { data: "customer_email" },
                    { data: "customer_address" },
                    { data: "customer_fax" },
                    { data:"customer_postcode"},
                    { data: "bank" },
                    { data: "bank_account" }
                ]
            });
        });       
    </script>

</body>
</html>
