
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="/Content/select/css/selectshop.css" rel="stylesheet" />
    <link href="/Content/select/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="/Content/select/css/bootstrap.css" rel="stylesheet" />
    <link href="/Content/select/css/bootstrap.min.css?v=3.3.6" rel="stylesheet" />
    <link href="/Content/select/css/font-awesome.css?v=4.4.0" rel="stylesheet" />
    <!-- Data Tables -->
    <link href="/Content/select/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="/Content/select/css/animate.css" rel="stylesheet" />
    <link href="/Content/select/css/style.css?v=4.1.0" rel="stylesheet" />
    <script src="/Content/select/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="selectshop">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th scope="col">订单编号</th>
                                        <th scope="col">用户 ID</th>
                                        <th scope="col">下单时间</th>
                                        <th scope="col">交付时间</th>
                                        <th scope="col">经手人</th>
                                        <th scope="col">操作人</th>
                                        <th scope="col">已付金额</th>
                                        <th scope="col">未付金额</th>
                                        <th scope="col">订单状态</th>
                                        <th scope="col">交货方式</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <asp:Repeater ID="shoprepeater" runat="server">
                                        <ItemTemplate>
                                            <tr>
                                                <td class="table_td" id="shopid">1</td>
                                                <td class="table_td" style="width:300px;" id="shopname">1</td>
                                                <td class="table_td" id="shoptype">1</td>
                                                <td class="table_td" id="shopprice">1</td>
                                                <td class="table_td" id="shopnum">1</td>
                                                <td class="table_td" id="shopsalesnum">1</td>
                                                <td class="table_td" id="shopram">1</td>
                                                <td class="table_td" id="shoprom">1</td>
                                                <td class="table_td" id="shopcpu">1</td>
                                                <td class="table_td" id="shopcpu">1</td>
                                            </tr>
                                        </ItemTemplate>
                                    </asp:Repeater>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 全局js -->
    <script src="/Content/select/js/jquery.min.js?v=2.1.4"></script>
    <script src="/Content/select/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/Content/select/js/plugins/jeditable/jquery.jeditable.js"></script>
    <!-- Data Tables -->
    <script src="/Content/select/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/Content/select/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <!-- 自定义js -->
    <script src="/Content/select/js/content.js?v=1.0.0"></script>
    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function () {
            $('.dataTables-example').dataTable();
            /*  */
            var oTable = $('#editable').dataTable();
            /*  */
            oTable.$('td').editable('../example_ajax.php', {
                "callback": function (sValue, y) {
                    var aPos = oTable.fnGetPosition(this);
                    oTable.fnUpdate(sValue, aPos[0], aPos[1]);
                },
                "submitdata": function (value, settings) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition(this)[2]
                    };
                },
                "width": "90%",
                "height": "100%"
            });
        });
        function fnClickAddRow() {
            $('#editable').dataTable().fnAddData([
                "Custom row",
                "New row",
                "New row",
                "New row",
                "New row"]);

        }
    </script>

</body>
</html>
