
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="/Content/select/css/selectshop.css" rel="stylesheet" />
    <link href="/Content/select/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="/Content/select/css/bootstrap.css" rel="stylesheet" />
    <link href="/Content/select/css/bootstrap.min.css?v=3.3.6" rel="stylesheet" />
    <link href="/Content/select/css/font-awesome.css?v=4.4.0" rel="stylesheet" />
    <!-- Data Tables -->
    <link href="/Content/select/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="/Content/select/css/animate.css" rel="stylesheet" />
    <link href="/Content/select/css/style.css?v=4.1.0" rel="stylesheet" />
    <script src="/Content/select/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/ElementUI/element-ui.css" />
    <style>
        table tr .shao {
            width: 120px;
        }

        .table1 tr {
            height: 65px;
        }

            .table1 tr .tdtext {
                padding-left: 20px;
            }

        table tr .shao {
            width: 80px;
        }

        table tr .duo {
            width: 200px;
        }

        table tr td, table tr th {
            text-align: center;
        }

        table thead tr {
            background-color: rgb(52,123,183);
            color: white;
        }
    </style>
</head>
<body>
    @*详情*@
    <div id="edit_app">
        <el-dialog :visible.sync="visible" title="待检产品详情" width="60%" style="background-color: rgba(255,255,255,0.3)">
            <template>
                <el-table border="1" :data="tableData.filter(data => !search || data.product_name.toLowerCase().includes(search.toLowerCase()))"
                          style="width: 1000px;" :header-cell-style="{background:'#eef1f6',color:'#606266'}">
                    <el-table-column label="产品名称" width="120px"
                                     prop="product_name">
                    </el-table-column>
                    <el-table-column label="产品类型" width="160px"
                                     prop="product_type">
                    </el-table-column>
                    <el-table-column label="生产数量" width="100px"
                                     prop="product_details_num">
                    </el-table-column>
                    <el-table-column label="生产日期" width="250px"
                                     prop="product_time">
                    </el-table-column>
                    <el-table-column label="产品规格" width="200px"
                                     prop="pro_guige">
                    </el-table-column>
                </el-table>
            </template>
        </el-dialog>
    </div>
    <div id="selectshop" v-loading.fullscreen.lock="fullscreenLoading">
        <div style="display: flex; justify-content: space-between; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid rgb(234 234 234)">
            <h4>产品质检单表</h4>
            <div id="app">
                <el-button type="danger" icon="el-icon-delete-solid">删除</el-button>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            <input type="radio" name="xuan" value="Yxuan" />全选
                                        </th>
                                        <th scope="col">质检单ID</th>
                                        <th scope="col">产品登记ID</th>
                                        <th scope="col">质检时间</th>
                                        <th scope="col">操作人</th>
                                        <th scope="col">质检结果</th>
                                        <th scope="col">操作</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 全局js -->
    <script src="/Content/select/js/jquery.min.js?v=2.1.4"></script>
    <script src="/Content/select/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/Content/select/js/plugins/jeditable/jquery.jeditable.js"></script>
    <!-- Data Tables -->
    <script src="/Content/select/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/Content/select/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <!-- 自定义js -->
    <script src="/Content/select/js/content.js?v=1.0.0"></script>
    <!-- Page-Level Scripts -->
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/ElementUI/element-ui.js"></script>
    <!-- Page-Level Scripts -->

    <script>
        //加载一秒后加载状态消失
        setTimeout(() => {
            vm.fullscreenLoading = false;
        }, 1000);
        //挂载一下
        var vm = new Vue({
            el: "#selectshop",
            data: {
                fullscreenLoading: true
            }
        })
        $(document).ready(function () {
            //$('.dataTables-example').dataTable();
            $('.dataTables-example').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    type: "POST",
                    url: "https://localhost:44360/api/quality/CpZj",
                    "dataType": "json",
                    //"dataSrc": "data"
                },
                //columns是绑定表格数据源
                columns: [
                    { data: null },
                    { data: "quality_testing_id" },
                    { data: "pro_production_id" },
                    { data: "quality_testing_time" },
                    { data: "operator_per" },
                    { data: "result" },
                    { data: null }
                ],
                "aoColumnDefs": [
                    {
                        "targets": -1, //操作按钮目标列
                        //"orderable": false,
                        //"data": null,
                        "render": function (data, type, row) {
                            var id = row.pro_production_id;
                            var html = "<div class='btn-group'>";
                            html += "<button class='btn btn-primary btn-sm' onclick='xiangqingdaijian(\"" + id + "\")'><span class='el-icon-search'></span> 详情</button>";
                            html += "</div>";
                            return html;
                        }
                    },
                    {
                        "targets": 0,
                        "render": function () {
                            var html = "<div class='btn-group' id='app1'>";
                            html += "<input type='checkbox' value='' />";
                            html += "</div>";
                            return html;
                        }
                    }]
            });
        });
        var vm1 = new Vue({
            el: "#app",
            data: {

            }
        });
        //详情new
        var vm2 = new Vue({
            el: "#edit_app",
            data() {
                return {
                    tableData: [],
                    search: '',
                    visible: false,
                    num: 1,
                }
            }
        })
        //待检详情
        function xiangqingdaijian(id) {
            vm2.visible = true;
            $.ajax({
                type: "Get",
                url: "https://localhost:44360/api/quality/plan_pro_detile?id=" + id,
                dataType: "json",
                success: function (data) {
                    vm2.tableData = eval(data);
                }
            })
        }
    </script>
</body>
</html>
