
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->

    <link href="~/Content/ElementUI/element-ui.css" rel="stylesheet" />
    <style>
        html body {
            height: 100%;
        }

       .table1 tr {
            height: 80px;
        }
        .table1 tr .td_text {
            padding: 0px 10px 0px 10px;
            text-align: right;
        }
        .btn{
            text-align:center;
        }
    </style>
</head>
<body>
    <div id="app" style="margin:0 auto;width:750px;padding-top:50px;">
        <table class="table1">
            <tr>
                <td>请选择商品订单号：</td>
                <td>
                    <el-select v-model="value" placeholder="请选择">
                        <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                        </el-option>
                    </el-select>
                </td>
            </tr>
            <tr>
                <td>预产数量：</td>
                <td>
                    <el-input-number v-model="num"  :min="1" :max="200" label="描述文字"></el-input-number>
                </td>
                <td>操作人：</td>
                <td>
                    <el-input placeholder="请输入内容" v-model="input" clearable></el-input>
                </td>
            </tr>
            <tr>
                <td>预计生产时间：</td>
                <td>
                    <el-date-picker v-model="value1" type="date" placeholder="选择日期"> </el-date-picker>
                </td>
                <td>预计结束时间</td>
                <td>
                    <el-date-picker v-model="value1" type="date" placeholder="选择日期"> </el-date-picker>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="btn">
                    <el-button type="primary">确定</el-button>
                </td>
                <td colspan="2" class="btn">
                    <el-button type="danger">重置</el-button>
                </td>
            </tr>
        </table>
    </div>
    <!-- import Vue before Element -->
    <script src="~/Scripts/vue.js"></script>
    <!-- import JavaScript -->
    <script src="~/Scripts/ElementUI/element-ui.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: function () {
                return {
                    visible: true,
                    input: "",
                    num: '',
                    options: [{
                        value: '选项1',
                        label: '黄金糕'
                    }, {
                        value: '选项2',
                        label: '双皮奶'
                    }],
                    value: '',
                    pickerOptions: {
                        disabledDate(time) {
                            return time.getTime() > Date.now();
                        },
                    },
                    value1: '',
                    value2: '',
                }
            },
        });

    </script>
</body>

</html>
