
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add_product_product</title>
</head>
<body>
    <div> 
        新增产品生产
    </div>
</body>
</html>
