
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add_get_materials_order</title>
</head>
<body>
    <div> 
        新增领料订单
    </div>
</body>
</html>
