
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add_product_product</title>
    @*elementui*@
    <link rel="stylesheet" href="~/Content/ElementUI/element-ui.css" />
    <style>
        #app {
            width: 100%;
            /* box-shadow: 1px 1px 5px 1px rgb(212 212 212);*/
        }

        table {
            margin: 0 auto;
            color: grey;
        }

            table tr td {
                height: 60px;
            }

            table tr .lefttd {
                padding-right: 60px;
            }
    </style>
</head>
<body>
    <a style="color: rgb(38 149 255); font-size: 20px; text-decoration: none;padding-left:10px;padding-top:10px;"
       href="/product/select_product_product">
        <i class="el-icon-back" style="font-size:25px;"></i>&nbsp;返回
    </a>
    <div id="app" v-loading.fullscreen.lock="fullscreenLoading">
        <div class="top" style="margin: 0 auto; border-bottom: 1px solid rgb(231 231 231); padding-bottom: 10px;">
            <table>
                <tr>
                    <td>生产计划详情单号：</td>
                    <td>
                        <el-select v-model="pro_id" placeholder="请选择" filterable allow-create default-first-option>
                            <el-option v-for="item in options" :value="item">
                            </el-option>
                        </el-select>
                    </td>
                </tr>
            </table>
        </div>
        @*//展示商品信息*@
        <div class="center" style="margin:0 auto;border-bottom:1px solid rgb(231 231 231);padding:10px;">
            <table>
                <tr>
                    <td>产品名称：</td>
                    <td class="lefttd">
                        <el-input placeholder="请输入内容" v-model="name" :disabled="true"></el-input>
                    </td>
                    <td>产品类别：</td>
                    <td class="lefttd">
                        <el-input placeholder="请输入内容" v-model="type" :disabled="true"></el-input>
                    </td>
                    <td>产品规格：</td>
                    <td>
                        <el-input placeholder="请输入内容" v-model="guige" :disabled="true"></el-input>
                    </td>
                </tr>
                <tr>
                    <td>产    商：</td>
                    <td class="lefttd">
                        <el-input placeholder="请输入内容" v-model="produre" :disabled="true"></el-input>
                    </td>
                    <td>产品价格：</td>
                    <td class="lefttd">
                        <el-input placeholder="请输入内容" v-model="price" :disabled="true"></el-input>
                    </td>
                    <td>产品单位：</td>
                    <td>
                        <el-input placeholder="请输入内容" v-model="unit" :disabled="true"></el-input>
                    </td>
                </tr>
            </table>
        </div>
        @*产品登记信息*@
        <div class="bottom" style="padding: 10px;">
            <table>
                <tr>
                    <td>生产部门车间：</td>
                    <td class="lefttd">
                        <el-input placeholder="请输入内容" v-model="bumen" :disabled="true"></el-input>
                    </td>
                    <td>操作人：</td>
                    <td>
                        <el-input placeholder="请输入内容" v-model="person" clearable></el-input>
                    </td>
                </tr>
                <tr>
                    <td>生产时间：</td>
                    <td class="lefttd">
                        <el-date-picker v-model="time" type="date" placeholder="选择日期"> </el-date-picker>
                    </td>
                    <td>质检状态：</td>
                    <td>
                        <el-select v-model="stauts" placeholder="请选择">
                            <el-option v-for="item in options2" :value="item">
                            </el-option>
                        </el-select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <el-button type="primary" onclick="addinfo()">确定</el-button>
                    </td>
                    <td colspan="2">
                        <el-button type="danger" plain onclick="chongzhi()">重置</el-button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Page-Level Scripts -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/ElementUI/element-ui.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: function () {
                return {
                    //产品信息变量名===
                    name: "",
                    type: "",
                    produre: "",
                    price: "",
                    unit: "",
                    guige: "",
                    //=================
                    fullscreenLoading: false,
                    visible: false,
                    person: "",
                    time: '',
                    dialogwidth: '60%',
                    options: [],
                    options2: ['未质检', '已质检'],
                    pickerOptions: {
                        disabledDate(time) {
                            return time.getTime() > Date.now();
                        },
                    },
                    pro_id: '',
                    bumen: '',
                    stauts: '',
                }
            },
            methods: {
                handleChange(value) {
                    console.log(value);
                }
            },
            watch: {
                pro_id: function () {
                    var _this = this;
                    //查询生产详情单号相关的产品信息
                    $.ajax({
                        type: "Get",
                        url: "https://localhost:44360/api/product/select_pro_plan_details?id=" + _this.pro_id +"&status=不好",
                        dataType: "json",
                        success: function (data) {
                            _this.name = eval(data)[0].product_name;
                            _this.price = eval(data)[0].product_price;
                            _this.type = eval(data)[0].product_type;
                            _this.unit = eval(data)[0].unit;
                            _this.produre = eval(data)[0].product_producer;
                            _this.guige = eval(data)[0].pro_guige;
                            _this.bumen = eval(data)[0].get_department;
                        }
                    })
                }
            }
        });  //App
        //查询未处理的生产详情单号
        $.ajax({
            type: "Get",
            url: "https://localhost:44360/api/product/select_pro_plan_details_id",
            dataType: "json",
            success: function (data) {
                for (var i = 0; i < eval(data).length; i++) {
                    vm.options.push(eval(data)[i].product_plan_details_id);
                }
            }
        }) 
        //新增计划确定按钮
        function addinfo() {
            vm.fullscreenLoading = true;
            //转为JSON字符串
            var json1 = {
                "product_plan_details_id": vm.pro_id,
                "pro_production_dep": vm.bumen,
                "operator_per": vm.person,
                "product_time": vm.time,
                "status": "未质检",
            };
            var json2 = JSON.stringify(json1);
            //新增数据
            $.ajax({
                url: "https://localhost:44360/api/product/add_pro_product?json="+json2,
                type: "post",
                dataType: "json",
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    console.log("进来了");
                }
            })
            //效果展示
            setTimeout(() => {
                vm.fullscreenLoading = false;
                const h = vm.$createElement;
                vm.$notify({
                    title: '产品登记',
                    message: h('i', { style: 'color: teal' }, '产品登记成功')
                });
                setTimeout(() => {
                    //跳转到计划查询页面
                    window.location.href = "@Url.Content("~/product/select_product_product/")";
                }, 1000);
            }, 1000);

        }
    </script>
</body>
</html>
