
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="/Content/select/css/selectshop.css" rel="stylesheet" />
    <link href="/Content/select/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="/Content/select/css/bootstrap.css" rel="stylesheet" />
    <link href="/Content/select/css/bootstrap.min.css?v=3.3.6" rel="stylesheet" />
    <link href="/Content/select/css/font-awesome.css?v=4.4.0" rel="stylesheet" />
    <!-- Data Tables -->
    <link href="/Content/select/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="/Content/select/css/animate.css" rel="stylesheet" />
    <link href="/Content/select/css/style.css?v=4.1.0" rel="stylesheet" />
    <script src="/Content/select/js/bootstrap.min.js"></script>
    <style>
        table tr .shao {
            width: 120px;
        }
        .table1 tr {
            height: 65px;
        }

            .table1 tr .tdtext {
                padding-left: 20px;
            }

        table tr .shao {
            width: 80px;
        }
        table tr .duo{
            width:200px;
        }
        table tr td, table tr th {
            text-align: center;
        }
        table thead tr {
            background-color: rgb(52,123,183);
            color:white;
        }
    </style>
    @*elementui*@
    <link rel="stylesheet" href="~/Content/ElementUI/element-ui.css" />
</head>
<body>
    @*详情*@
    <div id="edit_app">
        <el-dialog :visible.sync="visible" title="生产计划详情" width="70%" style="background-color: rgba(255,255,255,0.3)">
            <template>
                <el-table border="1" :data="tableData.filter(data => !search || data.product_name.toLowerCase().includes(search.toLowerCase()))"
                          style="width: 1000px;" :header-cell-style="{background:'#eef1f6',color:'#606266'}">
                    <el-table-column label="计划详情ID" width="120px"
                                     prop="product_plan_details_id">
                    </el-table-column>
                    <el-table-column label="产品名" width="160px"
                                     prop="product_name">
                    </el-table-column>
                    <el-table-column label="产品类型" width="80px"
                                     prop="product_type">
                    </el-table-column>
                    <el-table-column label="单价" width="100px"
                                     prop="product_price">
                    </el-table-column>
                    <el-table-column label="生产数量"
                                     prop="product_details_num">
                    </el-table-column>
                    <el-table-column label="单位"
                                     prop="unit">
                    </el-table-column>
                    <el-table-column label="鞋子规格"
                                     prop="pro_guige">
                    </el-table-column>
                   
                </el-table>
            </template>
        </el-dialog>
    </div>
    @*查询所有计划*@
    <div id="selectshop" v-loading.fullscreen.lock="fullscreenLoading">
        <div style="display: flex; justify-content: space-between; margin-bottom: 10px; padding-bottom: 10px;
          border-bottom: 1px solid rgb(234 234 234)">
            <h4>产品登记表</h4>
            <div id="app">
                <a style="color:white" href="/product/add_product_plan">
                    <el-button type="primary" icon="el-icon-plus" style="background-color: rgb(52,123,183);">
                        添加
                    </el-button>
                </a>
                <el-button onclick="deleteinfo()" type="danger" icon="el-icon-delete-solid" style="background-color: rgb(217,84,80);">
                    删除
                </el-button>
            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th class="shao">
                                            <input type="checkbox" id="xuan" name="xuan" onclick="ckAll()" />全选
                                        </th>
                                        <th scope="col" class="shao">生产计划ID</th>
                                        <th scope="col" class="duo">订单号</th>
                                        <th scope="col">操作人</th>
                                        <th scope="col">计划生产时间</th>
                                        <th scope="col">计划结束时间</th>
                                        <th scope="col">处理状态</th>
                                        <th scope="col">操作</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 全局js -->
    <script src="/Content/select/js/jquery.min.js?v=2.1.4"></script>
    <script src="/Content/select/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/Content/select/js/plugins/jeditable/jquery.jeditable.js"></script>
    <!-- Data Tables -->
    <script src="/Content/select/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/Content/select/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <!-- 自定义js -->
    <script src="/Content/select/js/content.js?v=1.0.0"></script>
    @*//url*@

    <script src="~/Scripts/HTTPURL/HTTPURL.js"></script>
    <!-- Page-Level Scripts -->
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/ElementUI/element-ui.js"></script>
    <!-- Page-Level Scripts -->
    <script>
        //加载一秒后加载状态消失
        setTimeout(() => {
            vm.fullscreenLoading = false;
        }, 1000);
        //挂载一下
        var vm = new Vue({
            el: "#selectshop",
            data: {
                fullscreenLoading: true
            }
        });
        console.log(Head_Url_Api + "你好");
        $(document).ready(function () {
            //$('.dataTables-example').dataTable();
            $('.dataTables-example').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    type: "POST",
                    url: Head_Url_Api + "/product/pro_plan",
                    "dataType": "json"
                },
                //columns是绑定表格数据源
                columns: [
                    { data: null },
                    { data: "product_plan_id" },
                    { data: "order_id" },
                    { data: "operator_per" },
                    {
                        data: "product_time",
                        render: function (data, type, row, meta) {
                            if (data) {   // data不为空进行转换
                                return (new Date(data)).Format("yyyy-MM-dd");
                            } else {
                                return data = ''; //data为空时不转换
                            }
                        }
                    },
                    {
                        data: "product_end_time",
                        render: function (data, type, row, meta) {
                            if (data) {   // data不为空进行转换
                                return (new Date(data)).Format("yyyy-MM-dd");
                            } else {
                                return data = ''; //data为空时不转换
                            }
                        }
                    },
                    { data: "product_status" },
                    { data: null }
                ],
                "aoColumnDefs": [{
                    "targets": -1, //操作按钮目标列
                    "orderable": false,
                    "data": null,
                    "render": function (data, type, row) {
                        var id = row.product_plan_id;
                        var html = "<div class='btn-group'>";
                        html += "<button class='btn btn-primary btn' onclick='xinagqtanchuan(" + id + ")'><span class='el-icon-search'></span>详情</button>";
                        html += "</div>";
                        return html;
                    }
                }, {
                    "targets": 0,
                    "render": function (data, type, row) {
                        var id = row.product_plan_id;
                        var html = "<div class='btn-group'>";
                        html += "<input type='checkbox' name='check' onclick='bian()' class='clist' value='" + id + "' style='width:15px;height:15px;'/>";
                        html += "</div>";
                        return html;
                    }
                    },
                    {
                        "targets": 6,   //第几列
                        "createdCell": function (td, cellData, rowData, row, col) {
                            if (cellData=='未处理') {
                                $(td).css('color', 'red')
                                $(td).css('font-weight', 'bold')
                            }
                            else if (cellData == '处理中') {
                                $(td).css('color', 'green')
                                $(td).css('font-weight', 'bold')
                            }
                            else {
                                $(td).css('color', 'rgb(53,124,183)')
                                $(td).css('font-weight', 'bold')
                            }
                        }
                    }]
            });
        });
        var vm1 = new Vue({
            el: "#app",
            data: {

            }
        });
        var vm2 = new Vue({
            el: "#edit_app",
            data() {
                return {
                    tableData: [],
                    search: '',
                    visible: false,
                    num: 1,
                }
            },
            methods: {
                handleEdit(row) {
                    console.log(row);
                    vm3.visible = true;
                },
                handleDelete(row) {
                    console.log(row);
                }
            },
        });
        function xinagqtanchuan(id) {
            vm2.visible = true;
            $.ajax({
                type: "Get",
                url: Head_Url_Api + "/product/pro_plan_detail?id=" + id,
                dataType: "json",
                success: function (data) {
                    vm2.tableData = eval(data);
                }
            })
        }
        var str = [];
        function bian() {
            str = [];
            var cks = document.getElementsByName("check");
            //拼接所有的图书id
            for (var i = 0; i < cks.length; i++) {
                if (cks[i].checked) {
                    str.push(cks[i].value);
                }
            }
        }
        //删除数据
        function deleteinfo() {
            console.log(str);
            var json1 = {
                "infoList": []
            }
            for (var i = 0; i < str.length; i++) {
                json1.infoList.push(str[i]);
            }
            var json2 = JSON.stringify(json1);
            $.ajax({
                url: Head_Url_Api + "/product/delete_pro_plan?json=" + json2,
                type: "post",
                dataType: "json",
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    console.log("进来了");
                }
            })
        }
        //日期格式化
        Date.prototype.Format = function (fmt) { //author: meizz
            var o = {
                "M+": this.getMonth() + 1, //月份

                "d+": this.getDate(), //日

                "h+": this.getHours(), //小时

                "m+": this.getMinutes(), //分

                "s+": this.getSeconds(), //秒

                "q+": Math.floor((this.getMonth() + 3) / 3), //季度

                "S": this.getMilliseconds() //毫秒

            };
            if (/(y+)/.test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            }
            for (var k in o) {
                if (new RegExp("(" + k + ")").test(fmt)) {
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length === 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                }
            }
            return fmt;
        };
    </script>
</body>
</html>
