
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add_in_product</title>
    @*elementui*@
    <link rel="stylesheet" href="~/Content/ElementUI/element-ui.css" />
    <style>
        #app {
            width: 100%;
           /* box-shadow: 1px 1px 5px 1px rgb(212 212 212);*/
        }
        table {
            margin: 0 auto;
            color:grey;
        }
        table tr td{
            height: 60px;
        }
        table tr .lefttd{
            padding-right:60px;
        }
    </style>
</head>
<body>
    <a style="color: rgb(38 149 255); font-size: 20px; text-decoration: none;padding-left:10px;padding-top:10px;"
       href="/product_repertory/select_in_product">
        <i class="el-icon-back" style="font-size:25px;"></i>&nbsp;返回
    </a>
    <div id="app"  v-loading.fullscreen.lock="fullscreenLoading">
        <div class="top" style="margin: 0 auto; border-bottom: 1px solid rgb(231 231 231); padding-bottom: 10px;">
            <table>
                <tr>
                    <td>生产登记单号：</td>
                    <td>
                        <el-input placeholder="请输入内容" v-model="pro_pro_id" :disabled="true"></el-input>
                    </td>
                </tr>
            </table>
        </div>
        @*//展示商品信息*@
        <div class="center" style="margin:0 auto;border-bottom:1px solid rgb(231 231 231);padding:10px;">
            <table>
                <tr>
                    <td>产品名称：</td>
                    <td class="lefttd">
                        <el-input placeholder="请输入内容" v-model="name" :disabled="true"></el-input>
                    </td>
                    <td>产品类别：</td>
                    <td class="lefttd">
                        <el-input placeholder="请输入内容" v-model="type" :disabled="true"></el-input>
                    </td>
                    <td>产品规格：</td>
                    <td>
                        <el-input placeholder="请输入内容" v-model="guige" :disabled="true"></el-input>
                    </td>
                </tr>
                <tr>
                    <td>数    量：</td>
                    <td class="lefttd">
                        <el-input placeholder="请输入内容" v-model="num" :disabled="true"></el-input>
                    </td>
                    <td>产品价格：</td>
                    <td class="lefttd">
                        <el-input placeholder="请输入内容" v-model="price" :disabled="true"></el-input>
                    </td>
                    <td>产品单位：</td>
                    <td>
                        <el-input placeholder="请输入内容" v-model="unit" :disabled="true"></el-input>
                    </td>
                </tr>
            </table>
        </div>
        <div class="bottom" style="padding: 10px;">
            <table>
                <tr>
                    <td>入库时间：</td>
                    <td class="lefttd">
                        <el-date-picker v-model="time" type="date" placeholder="选择日期"> </el-date-picker>
                    </td>
                    <td>操作人：</td>
                    <td>
                        <el-input placeholder="请输入内容" v-model="person1" clearable></el-input>
                    </td>
                    <td>经手人：</td>
                    <td>
                        <el-input placeholder="请输入内容" v-model="person2" clearable></el-input>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align:center;">
                        <el-button type="primary" onclick="addinfo()">确定</el-button>
                    </td>
                    <td colspan="3">
                        <el-button type="danger">重置</el-button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Page-Level Scripts -->
    <script src="~/Scripts/HTTPURL/HTTPURL.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/ElementUI/element-ui.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        //加载一秒后加载状态消失
        setTimeout(() => {
            vm.fullscreenLoading = false;
        }, 500);
        var vm = new Vue({
            el: '#app',
            data: function () {
                return {
                    pro_pro_id: "",
                    //产品信息变量名===
                    name: "",
                    type: "",
                    num: "",
                    price: "",
                    unit: "",
                    guige: "",
                    //=================
                    visible: false,
                    person1: "",
                    person2: "",
                    time: '',
                    fullscreenLoading: true,
                    dialogwidth: '60%',
                    pickerOptions: {
                        disabledDate(time) {
                            return time.getTime() > Date.now();
                        },
                    }
                }
            },
        });
        //获取传过来的ID
        var id = window.localStorage.getItem('id');
        var status = window.localStorage.getItem('status');
        //查询生产详情单号相关的产品信息
        $.ajax({
            type: "Get",
            url: Head_Url_Api +"/product/select_pro_plan_details?id=" + id + "&status=好",
            dataType: "json",
            success: function (data) {
                vm.pro_pro_id =id;
                vm.name = eval(data)[0].product_name;
                vm.price = eval(data)[0].product_price;
                vm.type = eval(data)[0].product_type;
                vm.num = eval(data)[0].product_details_num;
                vm.guige = eval(data)[0].pro_guige;
                vm.unit = eval(data)[0].unit;
            }
        })
         //新增产品入库表确定按钮
        function addinfo() {
            var id = window.localStorage.getItem('id');
            var status = window.localStorage.getItem('status');
            console.log(status);
            if (status == '不合格') {
                const h = vm.$createElement;
                vm.$notify({
                    title: '产品入库',
                    message: h('i', { style: 'color: red' }, '产品入库失败，该产品质检不合格')
                });
            } else {
                //判断非空
                if (vm.person1 == '' || vm.person2 == '', vm.time=='') {
                    const h = vm.$createElement;
                    vm.$notify({
                        title: '产品入库',
                        message: h('i', { style: 'color: red' }, '产品入库失败，请填写完整数据')
                    });
                } else {
                    vm.fullscreenLoading = true;
                    //转为JSON字符串
                    var json1 = {
                        "pro_pro_id": vm.pro_pro_id,
                        "person1": vm.person1,
                        "person2": vm.person2,
                        "time": vm.time,
                        "name": vm.name,
                        "guige": vm.guige,
                        "num": vm.num
                    };
                    var json2 = JSON.stringify(json1);
                    //新增数据
                    $.ajax({
                        url: Head_Url_Api +"/pro_repertory/add_in_repertory?json=" + json2,
                        type: "post",
                        dataType: "json",
                        contentType: 'application/json;charset=utf-8',
                        success: function (data) {
                            //效果展示
                            setTimeout(() => {
                                vm.fullscreenLoading = false;
                                const h = vm.$createElement;
                                vm.$notify({
                                    title: '产品入库',
                                    message: h('i', { style: 'color: teal' }, '产品入库成功')
                                });
                                setTimeout(() => {
                                    //跳转到计划查询页面
                                    window.location.href = "@Url.Content("~/product_repertory/select_in_product/")";
                                }, 1000);
                            }, 1000);
                        }
                    })
                }
            }
        }
    </script>
</body>
</html>
