
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add_in_product</title>
    @*elementui*@
    <link rel="stylesheet" href="~/Content/ElementUI/element-ui.css" />
    <style>
        #app {
            width: 100%;
           /* box-shadow: 1px 1px 5px 1px rgb(212 212 212);*/
        }
        table {
            margin: 0 auto;
            color:grey;
        }
        table tr td{
            height: 60px;
        }
        table tr .lefttd{
            padding-right:60px;
        }
    </style>
</head>
<body>
    <a style="color: rgb(38 149 255); font-size: 20px; text-decoration: none;padding-left:10px;padding-top:10px;"
       href="/product_repertory/select_in_product">
        <i class="el-icon-back" style="font-size:25px;"></i>&nbsp;返回
    </a>
    <div id="app">
        <div class="top" style="margin: 0 auto; border-bottom: 1px solid rgb(231 231 231); padding-bottom: 10px;">
            <table>
                <tr>
                    <td>生产登记单号：</td>
                    <td>
                        <el-input placeholder="请输入内容" v-model="pro_pro_id" :disabled="true"></el-input>
                    </td>
                </tr>
            </table>
        </div>
        @*//展示商品信息*@
        <div class="center" style="margin:0 auto;border-bottom:1px solid rgb(231 231 231);padding:10px;">
            <table>
                <tr>
                    <td>产品名称：</td>
                    <td class="lefttd">
                        <el-input placeholder="请输入内容" v-model="name" :disabled="true"></el-input>
                    </td>
                    <td>产品类别：</td>
                    <td>
                        <el-input placeholder="请输入内容" v-model="type" :disabled="true"></el-input>
                    </td>
                </tr>
                <tr>
                    <td>数    量：</td>
                    <td class="lefttd">
                        <el-input placeholder="请输入内容" v-model="num" :disabled="true"></el-input>
                    </td>
                    <td>产品价格：</td>
                    <td>
                        <el-input placeholder="请输入内容" v-model="price" :disabled="true"></el-input>
                    </td>
                </tr>
            </table>
        </div>
        <div class="bottom" style="padding: 10px;">
            <table>
                <tr>
                    <td>生产时间：</td>
                    <td class="lefttd">
                        <el-date-picker v-model="time" type="date" placeholder="选择日期"> </el-date-picker>
                    </td>
                    <td>操作人：</td>
                    <td>
                        <el-input placeholder="请输入内容" v-model="person" clearable></el-input>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center;">
                        <el-button type="primary">确定</el-button>
                    </td>
                    <td colspan="2">
                        <el-button type="danger">重置</el-button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- Page-Level Scripts -->
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/ElementUI/element-ui.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: function () {
                return {
                    pro_pro_id: "",
                    //产品信息变量名===
                    name: "",
                    type: "",
                    num: "",
                    price: "",
                    //=================
                    visible: false,
                    person: "",
                    time: '',
                    dialogwidth: '60%',
                    options1: [{
                        value: '第一生产车间',
                        label: '第一生产车间'
                    }, {
                        value: '第二生产车间',
                        label: '第二生产车间'
                    }],
                    pickerOptions: {
                        disabledDate(time) {
                            return time.getTime() > Date.now();
                        },
                    }
                }
            },
            methods: {
                handleChange(value) {
                    console.log(value);
                }
            }
        });
        //获取传过来的ID
        var id = window.localStorage.getItem('id');
        //掉接口进行数据查询
        $.ajax({
            type: "Get",
            url: "https://localhost:44360/api/pro_repertory/pro_product_detail?id=" + id,
            dataType: "json",
            success: function (data) {
                vm.pro_pro_id = id;
                vm.name = eval(data)[0].product_name;
                vm.type = eval(data)[0].product_type;
                vm.num = eval(data)[0].product_details_num;
                vm.price = eval(data)[0].product_price;
            }
        })
    </script>
</body>
</html>
