
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="/Content/select/css/selectshop.css" rel="stylesheet" />
    <link href="/Content/select/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="/Content/select/css/bootstrap.css" rel="stylesheet" />
    <link href="/Content/select/css/bootstrap.min.css?v=3.3.6" rel="stylesheet" />
    <link href="/Content/select/css/font-awesome.css?v=4.4.0" rel="stylesheet" />
    <!-- Data Tables -->
    <link href="/Content/select/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="/Content/select/css/animate.css" rel="stylesheet" />
    <link href="/Content/select/css/style.css?v=4.1.0" rel="stylesheet" />
    <script src="/Content/select/js/bootstrap.min.js"></script>
    @*elementui*@
    <link rel="stylesheet" href="~/Content/ElementUI/element-ui.css" />
    <style>
        table tr .shao {
            width: 120px;
        }

        table tr td, table tr th {
            text-align: center;
        }

        table thead tr {
            background-color: rgb(52,123,183);
            color: white;
        }
    </style>
</head>
<body>
    @*修改提货数量*@
    <div id="update_num_app">
        <el-dialog :visible.sync="visible" title="修改库存数量" width="40%" style="background-color: rgba(255,255,255,0.3)">
            <div style="text-align:center;">
                <el-input-number v-model="num" :min="1" :max="10" label="描述文字"></el-input-number>
                <el-button type="primary" style="background-color: rgb(52,123,183);"> 保存 </el-button>
            </div>
        </el-dialog>
    </div>
    @*信息*@
    <div id="selectshop" v-loading.fullscreen.lock="fullscreenLoading">
        <div style="display: flex; justify-content: space-between; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid rgb(234 234 234)">
            <h4>产品库存表</h4>
            <div id="app">
                <el-button type="danger" icon="el-icon-delete-solid">删除</el-button>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th scope="col" class="shao">
                                            <input type="radio" name="xuan" value="Yxuan" />全选
                                        </th>
                                        <th scope="col">商品库存ID</th>
                                        <th scope="col">商品名</th>
                                        <th scope="col">产品类型</th>
                                        <th scope="col">产品价格</th>
                                        <th scope="col">库存数量</th>
                                        <th scope="col">产品规格</th>
                                        <th scope="col">操作</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 全局js -->
    <script src="/Content/select/js/jquery.min.js?v=2.1.4"></script>
    <script src="/Content/select/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/Content/select/js/plugins/jeditable/jquery.jeditable.js"></script>
    <!-- Data Tables -->
    <script src="/Content/select/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/Content/select/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <!-- 自定义js -->
    <script src="/Content/select/js/content.js?v=1.0.0"></script>
    <script src="~/Scripts/HTTPURL/HTTPURL.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/ElementUI/element-ui.js"></script>
    <!-- Page-Level Scripts -->
    <script>
        //加载一秒后加载状态消失
        setTimeout(() => {
            vms.fullscreenLoading = false;
        }, 1000);
        //挂载一下
        var vms = new Vue({
            el: "#selectshop",
            data: {
                fullscreenLoading: true
            }
        })
        $(document).ready(function () {
            //$('.dataTables-example').dataTable();
            $('.dataTables-example').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    type: "POST",
                    url: Head_Url_Api + "/pro_repertory/select_product",
                    "dataType": "json"
                },
                //columns是绑定表格数据源
                columns: [
                    { data: null },
                    { data: "repertory_id" },
                    { data: "product_name" },
                    { data: "product_type" },
                    { data: "product_price" },
                    { data: "pro_repertory_num" },
                    { data: "pro_guige" },
                    { data: null }
                ],
                "aoColumnDefs": [{
                    "targets": -1, //操作按钮目标列
                    //"orderable": false,
                    //"data": null,
                    "render": function (data, type, row) {
                        var id = row.repertory_id;
                        var html = "<div class='btn-group' id='app'>";
                        html += "<button class='btn btn-primary btn' onclick='handleEdit(" + id + ")'><span class='el-icon-edit'></span> 编辑</button>";
                        html += "</div>";
                        return html;
                    }
                }, {
                    "targets": 0,
                    "render": function () {
                        var html = "<div class='btn-group' id='app1'>";
                        html += "<input type='checkbox' value='' style='width:15px;height:15px;'/>";
                        html += "</div>";
                        return html;
                    }
                }]
            });
        });
        var vm1 = new Vue({
            el: "#app",
            data: {

            }
        });
        var vm2 = new Vue({
            el: "#update_num_app",
            data() {
                return {
                    visible: false,
                    num: "",
                }
            }
        });
        function handleEdit(id) {
            vm2.visible = true;
        }   //编辑
        function handleDelete(id) {    //删除

        }   //删除
    </script>

</body>
</html>
