
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add_order</title>
</head>
<body>
    <div> 
        新增采购订单（针对采购计划来进行新增订单的）
    </div>
</body>
</html>
