
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>add_plan</title>
</head>
<body  style="background-color: white">
    <div> 
        新增采购计划
    </div>
</body>
</html>
