
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>buy_Material</title>
</head>
<body>
    <div class="buy_Material_max">
        <h1>
            这是购买原料界面
        </h1>
    </div>
</body>
</html>
