
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>buy_statistical</title>
</head>
<body>
    <div class="buy_Material_max">
        <h1>
            这是购买原料统计界面
        </h1> 
    </div>
</body>
</html>
