
@{
    Layout = null;
}


@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chinaz</title>
    <!-- Bootstrap Styles-->
    <link href="/Content/public/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/Content/public/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/Content/public/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/Content/public/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.useso.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/Content/public/js/Lightweight-Chart/cssCharts.css">
    <link rel="stylesheet" type="text/css" href="/Content/public/css/shop_management.css" />
</head>

<body  style="background-color: rgb(239,240,244)">
    <div class="header" style="background-color:white;margin-bottom:10px;">
        <div style="display:flex;padding:15px;justify-content:space-between">
            <div style="display: flex;">
                <p style="font-size: 25px;">采购管理 &nbsp;/ &nbsp;</p>
                <p style="font-size: 18px;">采购统计</p>
            </div>
        </div>
    </div>
    <!--统计-->
    <div  style="display:flex;justify-content:space-between;">
        <div id="app" style="height:600px;background-color:white;padding:20px;width:80%;">

        </div>
        <div style="background-color: white; width: 19%; height: 600px; padding: 20px; border: 1px solid rgb(229 229 229)">
            另外再想放啥
        </div>
    </div>
    <script src="/Content/public/js/jquery-1.10.2.js"></script>
    <script src="/Content/public/js/bootstrap.min.js"></script>
    <script src="/Content/public/js/jquery.metisMenu.js"></script>
    <script src="/Content/public/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/Content/public/js/morris/morris.js"></script>
    <script src="/Content/public/js/easypiechart.js"></script>
    <script src="/Content/public/js/easypiechart-data.js"></script>
    <script src="/Content/public/js/Lightweight-Chart/jquery.chart.js"></script>
    <script src="/Content/public/js/custom-scripts.js"></script>
    <script src="~/Scripts/echarts.js"></script>
    <script>
        var myChart = echarts.init(document.getElementById('app'));
        var s1 = ['李宁篮球鞋鞋面', '60', '31', '80', '60', '80', '85', '60', '31', '80', '60', '60', '31']
        var s2 = ['李宁篮球鞋鞋底', '56', '82', '88', '70', '53', '85', '56', '82', '88', '70', '56', '82']
        var s3 = ['李宁篮球鞋鞋舌', '40', '62', '69', '36', '45', '32', '40', '62', '69', '36', '40', '62']
        var s4 = ['安踏篮球鞋鞋底', '25', '37', '41', '18', '33', '49', '25', '37', '41', '18', '33', '49']
        var s5 = ['安踏篮球鞋鞋面', '20', '40', '40', '20', '30', '50', '30', '40', '40', '20', '20', '30']
        var s6 = ['安踏篮球鞋鞋舌', '30', '30', '50', '30', '40', '40', '20', '30', '50', '30', '40', '40']
        var s7 = ['帆布鞋底', '34', '40', '37', '30', '40', '40', '20', '30', '50', '30', '20', '30']
        var s8 = ['帆布鞋面', '38', '44', '41', '30', '40', '40', '20', '30', '50', '30', '41', '30']
        var s9 = ['皮鞋鞋帮', '30', '49', '20', '30', '40', '40', '20', '30', '50', '30', '40', '20']
        var s10 = ['皮鞋鞋面', '31', '50', '40', '30', '40', '40', '20', '30', '50', '30', '30', '40']
        var option = {
            legend: {},
            tooltip: {
                trigger: 'axis',
                showContent: false
            },
            dataset: {
                source: [
                    ['product', '1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
                    s1,
                    s2,
                    s3,
                    s4,
                    s5,
                    s6,
                    s7,
                    s8,
                    s9,
                    s10,
                ]
            },
            xAxis: {type: 'category'},
            yAxis: {gridIndex: 0,name:'单位/双'},
            grid: {top: '55%'},
            series: [
                {type: 'line', smooth: true, seriesLayoutBy: 'row', emphasis: {focus: 'series'}},
                {type: 'line', smooth: true, seriesLayoutBy: 'row', emphasis: {focus: 'series'}},
                {type: 'line', smooth: true, seriesLayoutBy: 'row', emphasis: {focus: 'series'}},
                {type: 'line', smooth: true, seriesLayoutBy: 'row', emphasis: {focus: 'series'}},
                {type: 'line', smooth: true, seriesLayoutBy: 'row', emphasis: {focus: 'series'}},
                {type: 'line', smooth: true, seriesLayoutBy: 'row', emphasis: {focus: 'series'}},
                {type: 'line', smooth: true, seriesLayoutBy: 'row', emphasis: {focus: 'series'}},
                {type: 'line', smooth: true, seriesLayoutBy: 'row', emphasis: {focus: 'series'}},
                { type: 'line', smooth: true, seriesLayoutBy: 'row', emphasis: { focus: 'series' } },
                { type: 'line', smooth: true, seriesLayoutBy: 'row', emphasis: { focus: 'series' } },
                {
                    type: 'pie',
                    id: 'pie',
                    radius: '30%',
                    center: ['50%', '25%'],
                    emphasis: {focus: 'data'},
                    label: {
                        formatter: '{b}:  ({d}%)'
                    },
                    encode: {
                        itemName: 'product',
                        value: '1月',
                        tooltip: '1月'
                    }
                }
            ]
        };

        myChart.on('updateAxisPointer', function (event) {
            var xAxisInfo = event.axesInfo[0];
            if (xAxisInfo) {
                var dimension = xAxisInfo.value + 1;
                myChart.setOption({
                    series: {
                        id: 'pie',
                        label: {
                            formatter: '{b}:  ({d}%)'
                        },
                        encode: {
                            value: dimension,
                            tooltip: dimension
                        }
                    }
                });
            }
        });
        myChart.setOption(option);
    </script>
</body>
</html>

