
@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chinaz</title>
    <!-- Bootstrap Styles-->
    <link href="/Content/public/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="/Content/public/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="/Content/public/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="/Content/public/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.useso.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/Content/public/js/Lightweight-Chart/cssCharts.css">
    <link rel="stylesheet" type="text/css" href="/Content/public/css/shop_management.css" />
    <style>
        .div1 {
            width: 220px;
            height: 120px;
            background-color: rgba(250,250,250,0.8);
            box-shadow: 0px 1px 10px 3px rgb(228,228,229);
        }

        .div2 {
            width: 400px;
            height: 120px;
            background-color: rgba(250,250,250,0.8);
            box-shadow: 0px 1px 10px 3px rgb(228,228,229);
            display: flex;
            justify-content: space-between;
        }

        .div2_1 {
            width: 50%;
            height: 100%;
        }

        .gong {
            width: 100%;
            height: 40px;
            text-align: center;
            line-height: 40px;
            font-size: 18px;
            border-bottom: 1px solid rgb(255,217,102);
        }

        .shuju {
            text-align: center;
            line-height: 80px;
            font-size: 25px;
            color:rgb(128, 128, 128);
            font-family: 'Microsoft YaHei'
        }
    </style>

    <link href="~/Content/ElementUI/element-ui.css" rel="stylesheet" />
</head>
<body style="background-color: rgb(239,240,244)">
    <div style="height:60px;">
        <div style="display:flex;">
            <div>
                <p style="font-size: 25px;margin-right:20px;margin-left:20px;">首页</p>
            </div>
            <div>
                <p style="font-size: 25px;">欢迎来到智联ERP</p>
            </div>
        </div>
    </div>
    <!--商品管理-->
    <div style="height:1000px;padding:20px;">
        @*//头部*@
        <div style="width:100%;height:120px;display:flex;
         justify-content:space-between;">
            <div class="div1">
                <div class="gong">
                    <i class="el-icon-shopping-cart-2"></i>
                    总销售量
                </div>
                <div class="shuju">     
                    2000 单
                </div>
            </div>
            <div class="div1">
                <div class="gong">
                    <i class="el-icon-shopping-cart-2"></i>
                    今年销量
                </div>
                <div class="shuju">
                    156 单
                </div>
            </div>
            <div class="div2">
                <div class="div2_1">
                    <div class="gong">
                        <i class="el-icon-sold-out"></i>
                        总支出
                    </div>
                    <div class="shuju">
                        1,000 万元
                    </div>
                </div>
                <div class="div2_1">
                    <div class="gong">
                        <i class="el-icon-sell"></i>
                        总收入
                    </div>
                    <div class="shuju">
                        2,000 万元
                    </div>
                </div>
            </div>
            <div class="div2">
                <div class="div2_1">
                    <div class="gong">
                        <i class="el-icon-sold-out"></i>
                        今年支出
                    </div>
                    <div class="shuju">   
                        100 万元
                    </div>
                </div>
                <div class="div2_1">
                    <div class="gong">
                        <i class="el-icon-sell"></i>
                        今年收入
                    </div>
                    <div class="shuju">
                        200 万元
                    </div>
                </div>
            </div>
        </div>
        <div style="width:100%;height:100%;background-color:rgba(250,250,250,0.8);padding:20px;
        margin-top:10px; box-shadow: 0px 1px 10px 3px rgb(228,228,229);">
            <p style="font-size:20px;">销量统计</p>
            <div id="app" style="width:100%;height:400px;padding:15px 0;margin:0 auto;box-shadow:0px 1px 15px 2px rgb(228,228,229)">

            </div>
            <div style="width:100%;height:1px;"></div>
            <p style="font-size:20px;">财务统计</p>
            <div style="width:100%;height:400px;display:flex;justify-content:space-between;">
                <div id="app2" style="width:48%;height:380px;padding:10px 1%;box-shadow:0px 1px 15px 2px rgb(228,228,229)">
                </div>
                <div style="width:1px;height:100%;"></div>
                <div id="app3" style="width: 48%; height: 380px; padding: 10px 1%; box-shadow: 0px 1px 15px 2px rgb(228,228,229)">
                </div>
            </div>
        </div>
    </div>
    <script src="/Content/public/js/jquery-1.10.2.js"></script>
    <script src="/Content/public/js/bootstrap.min.js"></script>
    <script src="/Content/public/js/jquery.metisMenu.js"></script>
    <script src="/Content/public/js/morris/raphael-2.1.0.min.js"></script>
    <script src="/Content/public/js/morris/morris.js"></script>
    <script src="/Content/public/js/easypiechart.js"></script>
    <script src="/Content/public/js/easypiechart-data.js"></script>
    <script src="/Content/public/js/Lightweight-Chart/jquery.chart.js"></script>
    <script src="/Content/public/js/custom-scripts.js"></script>
    <script src="~/Scripts/echarts.js"></script>
    <script src="~/Scripts/ElementUI/element-ui.js"></script>
    <script>
        //$.ajax({
        //    url: 'https://localhost:44368/api/Default/ss',
        //    type: 'GET',
        //    dataType: 'JSON',
        //    success: function (data) {
        //        console.log(data);
        //    }
        //});
        //订单数
        var myChart = echarts.init(document.getElementById('app'));
        var option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    crossStyle: {
                        color: '#999'
                    }
                }
            },
            toolbox: {
                feature: {
                    dataView: { show: true, readOnly: false },
                    magicType: { show: true, type: ['line', 'bar'] },
                    restore: { show: true },
                    saveAsImage: { show: true }
                }
            },
            legend: {
                data: ['篮球鞋', '帆布鞋', '皮鞋', '订单数']
            },
            xAxis: [
                {
                    type: 'category',
                    data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
                    axisPointer: {
                        type: 'shadow'
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '数量/双',
                    min: 0,
                    max: 250,
                    interval: 50,
                    axisLabel: {
                        formatter: '{value}'
                    }
                },
                {
                    type: 'value',
                    name: '订单数',
                    min: 0,
                    max: 25,
                    interval: 5,
                    axisLabel: {
                        formatter: '{value}'
                    }
                }
            ],
            series: [
                {
                    name: '篮球鞋',
                    type: 'bar',
                    data: [100, 49, 70, 230, 250, 70, 130, 160, 32, 200, 60, 30],
                    color: '#6ce26c'
                },
                {
                    name: '帆布鞋',
                    type: 'bar',
                    data: [20, 50, 90, 26, 200, 70, 170, 180, 40, 180, 60, 230],
                    color: '#6d9eeb'
                },
                {
                    name: '皮鞋',
                    type: 'bar',
                    data: [120, 50, 90, 26, 20, 170, 170, 18, 40, 80, 60, 30],
                    color: '#ffd966'
                },
                {
                    name: '订单数',
                    type: 'line',
                    yAxisIndex: 1,
                    data: [2, 2, 13, 5, 16, 11, 12, 23, 12, 16, 12, 16],
                    color: '#3d85c6'
                }
            ]
        };
        myChart.setOption(option);

        //财务收入
        var myChart2 = echarts.init(document.getElementById('app2'));
        var i = 12;
        var j = 23;
        var z = 45;
        var option2 = {
            title: {
                text: '收入统计',
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b}: {c} ({d}%)'
            },
            legend: {
                data: ['篮球鞋', '帆布鞋', '皮鞋']
            },
            series: [
                {
                    name: '收入来源',
                    type: 'pie',
                    selectedMode: 'single',
                    radius: [0, '30%'],
                    label: {
                        position: 'inner',
                        fontSize: 14,
                    },
                    labelLine: {
                        show: false
                    }
                },
                {
                    name: '收入来源',
                    type: 'pie',
                    radius: ['35%', '60%'],
                    labelLine: {
                        length: 30,
                    },
                    label: {
                        formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                        backgroundColor: '#F6F8FC',
                        borderColor: '#8C8D8E',
                        borderWidth: 1,
                        borderRadius: 4,

                        rich: {
                            a: {
                                color: '#6E7079',
                                lineHeight: 22,
                                align: 'center'
                            },
                            hr: {
                                borderColor: '#8C8D8E',
                                width: '100%',
                                borderWidth: 1,
                                height: 0
                            },
                            b: {
                                color: '#4C5058',
                                fontSize: 14,
                                fontWeight: 'bold',
                                lineHeight: 33
                            },
                            per: {
                                color: '#fff',
                                backgroundColor: '#4C5058',
                                padding: [3, 4],
                                borderRadius: 4
                            }
                        }
                    },
                    data: [
                        { value: i, name: '篮球鞋', itemStyle: { color: '#ff9900' } },
                        { value: j, name: '帆布鞋', itemStyle: { color: '#674ea7' } },
                        { value: z, name: '皮鞋', itemStyle: { color: '#6fa8dc' } },

                    ],

                }
            ]
        };
        myChart2.setOption(option2);

        //财务支出
        var myChart3 = echarts.init(document.getElementById('app3'));
        var i = 12;
        var j = 23;
        var z = 45;
        var option3 = {
            title: {
                text: '支出统计',
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b}: {c} ({d}%)'
            },
            legend: {
                data: ['篮球鞋原料', '帆布鞋原料', '皮鞋原料']
            },
            series: [
                {
                    name: '支出去向',
                    type: 'pie',
                    selectedMode: 'single',
                    radius: [0, '30%'],
                    label: {
                        position: 'inner',
                        fontSize: 14,
                    },
                    labelLine: {
                        show: false
                    }
                },
                {
                    name: '支出去向',
                    type: 'pie',
                    radius: ['35%', '60%'],
                    labelLine: {
                        length: 30,
                    },
                    label: {
                        formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                        backgroundColor: '#F6F8FC',
                        borderColor: '#8C8D8E',
                        borderWidth: 1,
                        borderRadius: 4,

                        rich: {
                            a: {
                                color: '#6E7079',
                                lineHeight: 22,
                                align: 'center'
                            },
                            hr: {
                                borderColor: '#8C8D8E',
                                width: '100%',
                                borderWidth: 1,
                                height: 0
                            },
                            b: {
                                color: '#4C5058',
                                fontSize: 14,
                                fontWeight: 'bold',
                                lineHeight: 33
                            },
                            per: {
                                color: '#fff',
                                backgroundColor: '#4C5058',
                                padding: [3, 4],
                                borderRadius: 4
                            }
                        }
                    },
                    data: [
                        { value: i, name: '篮球鞋原料', itemStyle: { color: '#ffd966' } },
                        { value: j, name: '帆布鞋原料', itemStyle: { color: '#6d9eeb' } },
                        { value: z, name: '皮鞋原料', itemStyle: { color: '#e6b8af' } },
                    ],

                }
            ]
        };
        myChart3.setOption(option3);


    </script>
</body>

</html>
