
@{
    Layout = null;
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="/Content/select/css/selectshop.css" rel="stylesheet" />
    <link href="/Content/select/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="/Content/select/css/bootstrap.css" rel="stylesheet" />
    <link href="/Content/select/css/bootstrap.min.css?v=3.3.6" rel="stylesheet" />
    <link href="/Content/select/css/font-awesome.css?v=4.4.0" rel="stylesheet" />
    <!-- Data Tables -->
    <link href="/Content/select/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="/Content/select/css/animate.css" rel="stylesheet" />
    <!--ElementUI 只用了icon库-->
    <link href="~/Content/ElementUI/element-ui.css" rel="stylesheet" />

    <style>
        table tr .shao {
            width: 120px;
        }

        .table1 tr {
            height: 65px;
        }

            .table1 tr .tdtext {
                padding-left: 20px;
            }

        table tr .shao {
            width: 120px;
        }

        table tr td, table tr th {
            text-align: center;
        }

        table thead tr {
            background-color: rgb(52,123,183);
            color: white;
        }
    </style>

</head>
<body>
    <div id="selectshop" style="height:100%">
        <div style="display: flex; justify-content: space-between; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid rgb(234 234 234)">
            <h4>材料信息</h4>
            <div id="app">
                <a id='btn_add' class="btn btn-info" tabindex="-1" role="button" aria-disabled="true" href='/materialr_repertory/add_materialr'><span class='el-icon-plus'></span> 新增材料</a>

            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th scope="col">库存编号</th>
                                        <th scope="col">材料名</th>
                                        <th scope="col">材料类别名</th>
                                        <th scope="col">材料价格</th>
                                        <th scope="col">供应商</th>
                                        <th scope="col">材料规格</th>
                                        <th scope="col">材料数量</th>
                                        <th scope="col">所属产品</th>
                                    </tr>
                                </thead>
                                <!--<tbody>
                                </tbody>-->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--模态窗-->
        <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                        </button>
                        @*<i class="fa fa-laptop modal-icon"></i>*@
                        <h4 class="modal-title">采购详情</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-striped table-bordered table-hover dataTables-modal">
                            <thead>
                                <tr>
                                    <th scope="col">采购计划ID</th>
                                    <th scope="col">材料名</th>
                                    <th scope="col">材料类型</th>
                                    <th scope="col">材料价格（单位：元）</th>
                                    <th scope="col">预计采购数量</th>
                                    <th scope="col">供应商</th>
                                </tr>
                            </thead>
                            <!--<tbody>
                             </tbody>-->
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                        @*<button type="button" class="btn btn-primary" id="btn_save">保存</button>*@
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- 全局js -->
    <script src="/Content/select/js/bootstrap.min.js"></script>
    <script src="/Content/select/js/jquery.min.js?v=2.1.4"></script>
    <script src="/Content/select/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/Content/select/js/plugins/jeditable/jquery.jeditable.js"></script>
    <!-- Data Tables -->
    <script src="/Content/select/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/Content/select/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <!-- 自定义js -->
    <script src="/Content/select/js/content.js?v=1.0.0"></script>
    <!-- 分页 Scripts -->
    <script>
        var se_url = "https://localhost:44360/"
        var urlS = se_url + "api/Buy_Manage/"
        $(document).ready(function () {
            $('.dataTables-example').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    type: "POST",
                    url: se_url + "Materialr_repertory/POSTAllDataKC",
                    dataType: "json",
                    //"dataSrc": "data"
                },
                //columns是绑定表格数据源
                "columns": [
                    { data: "materialr_details_id" },
                    { data: "materialr_details_name" },
                    { data: "materialr_type_name" },
                    { data: "materialr_details_price" },
                    { data: "material_supplier" },
                    { data: "pro_guige" },
                    { data: "materialr_num" },
                    { data: "product_type_name" },
                ],
            });

        });





        //新增
        function btn_row_add() {
            $("#hf_editid").val("");
            $("#cname").val("");
            $("#cphone").val("");
            $("#cemail").val("");
            $("#csex").val("");
            $("#cbirthday").val("");
            $("#ccomment").val("");
            $("#myModal").modal('show');
        };

        //行详情按钮,弹出模态窗
        function btn_row_seach(id) {

            //if ($('.dataTables-modal').hasClass('dataTable')) {
            //}
            $('.dataTables-modal').dataTable({
                "searching": false,// 是否允许检索
                "processing": true,
                "serverSide": true,
                "ajax": {
                    type: "POST",
                    url: urlS + "Select_jihua_detail",
                    dataType: "json",
                    // 传给服务器的数据，可以添加我们自己的查询参数
                    data: function (param) {
                        param.detail_id = id;
                        return param;
                    },
                    //"dataSrc": "data"
                },
                //columns是绑定表格数据源
                "columns": [
                    { data: "materialr_plan_id" },
                    { data: "materialr_details_name" },
                    { data: "materialr_type_name" },
                    { data: "materialr_details_price" },
                    { data: "materialr_details_num" },
                    { data: "material_supplier" },
                ]
            });
            //弹出模态窗
            $("#myModal").modal({
                backdrop: 'static',
                //点击背景空白处不被关闭；
                keyboard: false
                //触发键盘esc事件时不关闭。
            });
        }
        //关闭模态窗
        $('#myModal').on('hide.bs.modal', function () {
            var oldTable = $('.dataTables-modal').dataTable();

            oldTable.fnClearTable(); //清空一下table

            oldTable.fnDestroy(); //还原初始化了的dataTable

            $('#data-table').empty();
        });

        //行编辑按钮
        function btn_row_edit(id) {
            $("#hf_editid").val(id);

            $.get(urlS, {
                "id": id
            }, function (data, status) {
                $("#cname").val(data.User_Name);
                $("#cphone").val(data.Phone);
                $("#cemail").val(data.Email);
                $("#csex").val(data.Sex);
                $("#cbirthday").val(data.BirthDay.replace("T", " "));
                $("#ccomment").val(data.Comments);
                $("#btn_save").show();
                $("#myModal").modal('show');
            });
        }
    </script>
</body>
</html>
