
@{
    Layout = null;
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="/Content/select/css/selectshop.css" rel="stylesheet" />
    <link href="/Content/select/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="/Content/select/css/bootstrap.css" rel="stylesheet" />
    <link href="/Content/select/css/bootstrap.min.css?v=3.3.6" rel="stylesheet" />
    <link href="/Content/select/css/font-awesome.css?v=4.4.0" rel="stylesheet" />
    <!-- Data Tables -->
    <link href="/Content/select/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="/Content/select/css/animate.css" rel="stylesheet" />
    <script src="/Content/select/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="selectshop">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th scope="col">原料采购计划ID</th>
                                        <th scope="col">材料名称</th>
                                        <th scope="col">材料价格(单位：人民币)</th>
                                        <th scope="col">预计采购数量(单位：个)</th>
                                        <th scope="col">是否处理状态</th>
                                        <th scope="col">操作</th>
                                    </tr>
                                </thead>
                                <!--<tbody>
                                </tbody>-->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- 全局js -->
    <script src="/Content/select/js/jquery.min.js?v=2.1.4"></script>
    <script src="/Content/select/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="/Content/select/js/plugins/jeditable/jquery.jeditable.js"></script>
    <!-- Data Tables -->
    <script src="/Content/select/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/Content/select/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <!-- 自定义js -->
    <script src="/Content/select/js/content.js?v=1.0.0"></script>
    <!-- 分页 Scripts -->
    <script>

        var se_url = "https://localhost:44360/"
        $(document).ready(function () {
            $('.dataTables-example').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    type: "POST",
                    url: se_url + "Buy_Manage/PostAllData_jihua",
                    "dataType": "json",
                    //"dataSrc": "data"
                },
                //columns是绑定表格数据源
                "columns": [
                    { data: "materialr_plan_id" },
                    { data: "materialr_details_name" },
                    { data: "materialr_details_price" },
                    { data: "materialr_details_num" },
                    { data: "status" },
                    { data: null },
                ],
                "aoColumnDefs": [{
                    "targets": -1, //操作按钮目标列
                    //"orderable": false,
                    //"data": null,
                    "render": function (data, type, row) {
                        var id = row.materialr_plan_id;
                        var html = "<div class='btn-group'>";
                        html += "<button class='btn btn-primary btn-xs' onclick='btn_row_seach(" + id + ")'><span class='glyphicon glyphicon-search'></span> 查看</button>";
                        html += "<button class='btn btn-warning btn-xs' onclick='btn_row_edit(" + id + ")'><span class='glyphicon glyphicon-edit'></span> 编辑</button>";
                        html += "<button class='btn btn-danger btn-xs' onclick='btn_row_del(" + id + ")'><span class='glyphicon glyphicon-trash'></span> 删除</button>";
                        html += "</div>";
                        return html;
                    }
                }]
            });

            var buttonHtml = " &nbsp;&nbsp;<button id='btn_add' class='btn btn-info btn-sm' onclick='btn_row_add()'><span class='glyphicon glyphicon-plus'></span> 新增</button> &nbsp;&nbsp;";
            //buttonHtml += "<button class='btn btn-primary btn-sm' id='btnAll'><i class='fa fa-trash'></i> 批量删除</button> &nbsp;&nbsp;";
            $("div.col-sm-6").eq(0).append(buttonHtml); //追加到length后面
        });

        //新增
        function btn_row_add() {
            $("#hf_editid").val("");
            $("#cname").val("");
            $("#cphone").val("");
            $("#cemail").val("");
            $("#csex").val("");
            $("#cbirthday").val("");
            $("#ccomment").val("");
            $("#myModal").modal('show');
        };
        //行查看按钮
        function btn_row_seach(id) {
            $.get(urlS, {
                "id": id
            }, function (data, status) {
                $("#cname").val(data.User_Name);
                $("#cphone").val(data.Phone);
                $("#cemail").val(data.Email);
                $("#csex").val(data.Sex);
                $("#cbirthday").val(data.BirthDay.replace("T", " "));
                $("#ccomment").val(data.Comments);
                $("#btn_save").hide();
                $("#myModal").modal('show');
            });
        }
        //行编辑按钮
        function btn_row_edit(id) {
            $("#hf_editid").val(id);

            $.get(urlS, {
                "id": id
            }, function (data, status) {
                $("#cname").val(data.User_Name);
                $("#cphone").val(data.Phone);
                $("#cemail").val(data.Email);
                $("#csex").val(data.Sex);
                $("#cbirthday").val(data.BirthDay.replace("T", " "));
                $("#ccomment").val(data.Comments);
                $("#btn_save").show();
                $("#myModal").modal('show');
            });
        }
    </script>
</body>
</html>
